.layui-footer {
    text-align: center;
    font-size: 12px;
}
.iconfont {
    margin-right: 8px;
}
.layui-icon {
    margin-left: 20px;
    margin-right: 8px;
}
iframe {
    width: 100%;
    height: 100%;
}
.layui-body {
    overflow: hidden;

}

a {
    transition: none !important;
}
.layui-side-scroll {
    width: 200px;
}
.layui-side-scroll .userinfo {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    border-bottom: 1px solid black;
    user-select: none;
}
.layui-nav-img {
    height: 40px;
    width: 40px;
}
.user-avatar {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    background-color: #009688;
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    color: #fff;
}